
<% include header %>
<h1> what's your Zip Code ?</h1>

<form class="Pure-form">

<fieldset>
    <input type="number" name="Zip" placeholder="12345" autofocus required>
    <input type="submit" method="post" class="pure-button pure-button-primary" value="GO">
    </fieldset>

    </form>

 <script type="text/javascript" src="/jquery.js"></script>
    <script src ="/main.js"></script>
    <% include footer %>